In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train=pd.read_csv("E:\\ML\\Project\\artifacts\\training_set.csv")
df_test=pd.read_csv("E:\\ML\\Project\\artifacts\\testing_set.csv")

In [3]:
print(df_train.shape)
print(df_test.shape)
print(df_train.info())
print(df_test.info())

(614, 13)
(367, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             599 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          613 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    612 non-null    float64
 7   CoapplicantIncome  613 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(5), object(8)
memory usage: 62.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB
None

Data Ingention

In [4]:
df_train.drop("Loan_ID",axis=1,inplace=True)

##Data Cleaning

In [5]:
df_train.isnull().sum()

Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
property_Area         0
Loan_Status           0
dtype: int64

In [6]:
cat_val=[fea for fea in df_train.columns if df_train[fea].dtypes=="O"]
num_val=[fea for fea in df_train.columns if df_train[fea].dtypes!="O"]

In [7]:
cat_val

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'property_Area',
 'Loan_Status']

In [8]:
num_val

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [9]:
df_train[cat_val].isnull().sum()

Gender           15
Married           3
Dependents       15
Education         1
Self_Employed    32
property_Area     0
Loan_Status       0
dtype: int64

In [10]:
df_train["Gender"].fillna(df_train["Gender"].mode()[0],inplace=True)
df_train["Married"].fillna(df_train["Married"].mode()[0],inplace=True)
df_train["Dependents"].fillna(df_train["Dependents"].mode()[0],inplace=True)
df_train["Education"].fillna(df_train["Education"].mode()[0],inplace=True)
df_train["Self_Employed"].fillna(df_train["Self_Employed"].mode()[0],inplace=True)

In [11]:
df_train[cat_val].isnull().sum()

Gender           0
Married          0
Dependents       0
Education        0
Self_Employed    0
property_Area    0
Loan_Status      0
dtype: int64

In [12]:
df_train.fillna(df_train[num_val].mean(),inplace=True)

In [13]:
df_train.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
property_Area        0
Loan_Status          0
dtype: int64

In [14]:
df_train.duplicated().sum()

0

In [15]:
df_train.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'property_Area', 'Loan_Status'],
      dtype='object')

In [16]:
df_train["Gender"]=df_train["Gender"].map({"Female":0,"Male":1})
df_train["Married"]=df_train["Married"].map({"No":0,"Yes":1})
df_train["Dependents"]=df_train["Dependents"].map({"0":0,"1":1,"2":2,"3+":3})
df_train["Education"]=df_train["Education"].map({"Graduate":0,"Not Graduate":1})
df_train["Self_Employed"]=df_train["Self_Employed"].map({"No":0,"Yes":1})
df_train["property_Area"]=df_train["property_Area"].map({"Rural":0,"Semiurban":1,"Urban":2})
df_train["Loan_Status"]=df_train["Loan_Status"].map({"N":0,"Y":1})

In [17]:
df_train.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
property_Area        0
Loan_Status          0
dtype: int64

In [18]:
#df_train=pd.get_dummies(df_train,drop_first=True)

In [19]:
df_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,property_Area,Loan_Status
0,1,0,0,0,0,5849.00000,0.0,146.412162,360.0,1.0,2,1
1,1,1,1,0,0,5405.54085,1508.0,128.000000,360.0,1.0,0,0
2,1,1,0,0,1,3000.00000,0.0,66.000000,360.0,1.0,2,1
3,1,1,0,1,0,2583.00000,2358.0,120.000000,360.0,1.0,2,1
4,1,0,0,0,0,6000.00000,0.0,141.000000,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900.00000,0.0,71.000000,360.0,1.0,0,1
610,1,1,3,0,0,4106.00000,0.0,40.000000,180.0,1.0,0,1
611,1,1,1,0,0,8072.00000,240.0,253.000000,360.0,1.0,2,1
612,1,1,2,0,0,7583.00000,0.0,187.000000,360.0,1.0,2,1
613,0,0,0,0,1,4583.00000,0.0,133.000000,360.0,0.0,1,0

Data splite

In [20]:
X=df_train.drop(['Loan_Status'],axis=1)
y=df_train['Loan_Status']
y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,property_Area
553,1,1,0,1,0,2454.0,2333.0,181.000000,360.0,0.0,2
601,1,1,0,1,0,2894.0,2792.0,155.000000,360.0,1.0,0
261,1,0,0,0,0,2060.0,2209.0,134.000000,360.0,1.0,1
496,1,1,0,1,0,2600.0,1700.0,107.000000,360.0,1.0,0
529,1,0,0,1,0,6783.0,0.0,130.000000,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
71,1,1,2,1,1,1875.0,1875.0,97.000000,360.0,1.0,1
106,1,1,2,0,0,11417.0,1126.0,225.000000,360.0,1.0,2
270,0,0,0,0,0,3237.0,0.0,30.000000,360.0,1.0,2
435,0,1,0,0,0,10047.0,0.0,146.412162,240.0,1.0,1
102,1,1,0,0,0,13650.0,0.0,146.412162,360.0,1.0,2

In [22]:

sc=StandardScaler()

X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [23]:
X_train

array([[ 0.49343516,  0.77507823, -0.71703534, ...,  0.31151435,
        -2.46213899,  1.20651188],
       [ 0.49343516,  0.77507823, -0.71703534, ...,  0.31151435,
         0.4400635 , -1.34950589],
       [ 0.49343516, -1.29019234, -0.71703534, ...,  0.31151435,
         0.4400635 , -0.071497  ],
       ...,
       [-2.02660871, -1.29019234, -0.71703534, ...,  0.31151435,
         0.4400635 ,  1.20651188],
       [-2.02660871,  0.77507823, -0.71703534, ..., -1.45037962,
         0.4400635 , -0.071497  ],
       [ 0.49343516,  0.77507823, -0.71703534, ...,  0.31151435,
         0.4400635 ,  1.20651188]])

In [24]:
#LR

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model1=LogisticRegression()
model1.fit(X_train,y_train)

train_pred1=model1.predict(X_train) #train prediction
test_pred1=model1.predict(X_test)   #test prediction

print("Train Accuracy - ",accuracy_score(y_train,train_pred1))
print("Test Accuracy - ",accuracy_score(y_test,test_pred1))

Train Accuracy -  0.8205128205128205
Test Accuracy -  0.7837837837837838

In [25]:
from sklearn.neighbors import KNeighborsClassifier
model2=KNeighborsClassifier()
model2.fit(X_train,y_train)

train_pred2=model2.predict(X_train) #train prediction
test_pred2=model2.predict(X_test)   #test prediction

print("Train Accuracy - ",accuracy_score(y_train,train_pred2))
print("Test Accuracy - ",accuracy_score(y_test,test_pred2))

Train Accuracy -  0.8344988344988346
Test Accuracy -  0.7621621621621621

In [26]:
from sklearn.tree import DecisionTreeClassifier

def dt(*arg):
               l=[arg]
               model2=DecisionTreeClassifier()                # Decision Treee
               model2.fit(X_train,y_train)

               train_pred2=model2.predict(X_train) #train prediction
               test_pred2=model2.predict(X_test)   #test prediction

               train_acc2=accuracy_score(y_train,train_pred2)
               test_acc2=accuracy_score(y_test,test_pred2)

               print("Decision Tree : ","Train Accuracy = ",train_acc2,"Test Accuracy = ",test_acc2)

In [27]:
dt()

Decision Tree :  Train Accuracy =  1.0 Test Accuracy =  0.6432432432432432

In [28]:
from sklearn.model_selection import GridSearchCV
def dt_gs():
          est=DecisionTreeClassifier()

          par = {'splitter' : ['best', 'random'],
               'criterion' : ['gini', 'entropy'],
               'max_depth': [4,5,6,7,8],
               'min_samples_split': [4,5,6,7,8,9,10],
               'min_samples_leaf': [3,4,5,6,7,8,9,10]
}

          esc=GridSearchCV(est,par,cv=5)
          esc.fit(X_train,y_train)

          best_par=esc.best_params_
          return best_par

In [29]:
dt_gs()

{'criterion': 'entropy',
 'max_depth': 8,
 'min_samples_leaf': 9,
 'min_samples_split': 8,
 'splitter': 'random'}

In [30]:
m={"name":["LR","KNN","DT"],
   "model":[LogisticRegression(),KNeighborsClassifier(),DecisionTreeClassifier()]}
new = pd.DataFrame(m)
len(new)

3

In [31]:
for i in range(len(new)):


    model2=new["model"][i]                         # Logistic Regression
    model2.fit(X_train,y_train)
    train_pred2=model2.predict(X_train) #train prediction
    test_pred2=model2.predict(X_test)   #test prediction
    train_acc2=accuracy_score(y_train,train_pred2)
    test_acc2=accuracy_score(y_test,test_pred2)
    print(new["name"][i] , "Train Accuracy = ",train_acc2,"Test Accuracy = ",test_acc2)

LR Train Accuracy =  0.8205128205128205 Test Accuracy =  0.7837837837837838
KNN Train Accuracy =  0.8344988344988346 Test Accuracy =  0.7621621621621621
DT Train Accuracy =  1.0 Test Accuracy =  0.6594594594594595

In [32]:
par=dt_gs()

In [33]:
a=list(par.keys())
b=list(str(par.values()))

a[2]

'min_samples_leaf'

In [34]:
from sklearn.svm import SVC
class best_model():

     #SVC
     par=dt_gs()
     print(par)
     model2=(par)
     model2.fit(X_train,y_train)

     train_pred2=model2.predict(X_train) #train prediction
     test_pred2=model2.predict(X_test)   #test prediction

     print("Train Accuracy - ",accuracy_score(y_train,train_pred2))
     print("Test Accuracy - ",accuracy_score(y_test,test_pred2))

{'criterion': 'gini', 'max_depth': 7, 'min_samples_leaf': 9, 'min_samples_split': 9, 'splitter': 'random'}

AttributeError: 'dict' object has no attribute 'fit'

In [ ]:

model2=DecisionTreeClassifier()
model2.fit(X_train,y_train)

train_pred2=model2.predict(X_train) #train prediction
test_pred2=model2.predict(X_test)   #test prediction

print("Train Accuracy - ",accuracy_score(y_train,train_pred2))
print("Test Accuracy - ",accuracy_score(y_test,test_pred2))